body {
  width: 100%;
}
form {
  border: 3px solid #f1f1f1;
}
input[type="text"],
input[type="password"] {
  position: absolute;
  width: 42%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
button {
  position: absolute;
  width: 20%;
  top: 60%;
  left: 38%;
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}
img.avatar {
  width: 40%;
  border-radius: 50%;
}
.container {
  position: absolute;
  width: 60%;

  height: 40%;
  top: 40%;
  left: 30%;
}
.user {
  position: absolute;
  top: -6%;
  left: 10%;
}
.pass {
  position: absolute;
  top: 18%;
  left: 10%;
}
span.psw {
  float: right;
  padding-top: 16px;
}
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
}
.p2 {
  position: absolute;
  top: 55%;
  left: 35%;
}

.p3 {
  position: absolute;
  top: 2%;
  left: 80%;
}
