@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
}
.logo img {
  position: absolute;
  width: 15%;
  left: 0;
}

.logo p {
  position: absolute;
  width: 20%;
  left: 80%;
  top: 3%;
}
.header1 {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 8%;
}
/* Add padding to containers */
.container {
  position: absolute;
  top: 18%;
  left: 35%;
}

/* Full-width input fields */
input[type="text"],
input[type="password"],
input[type="tel"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  position: absolute;
  top: 120%;
  left: 25%;
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;

  border: none;
  cursor: pointer;
  width: 45%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
