* {
  box-sizing: border-box;
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 20px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* for all buttons */
button {
  background-color: #686868;
  color: #fff;
  padding: 15px 0;
  margin: 20px 10px 20px 300px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #8aaca8;
  cursor: pointer;
  width: 25%;
  opacity: 0.9;
  overflow: hidden;
  position: relative;
}

button:hover {
  opacity: 1;
}

/* Float cancel and signup buttons and add an equal width */
.signupbtn {
  left: 21%;
  width: 25%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
  box-shadow: 0 0 10px 4px #999999;
}

.submit::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .signupbtn {
    width: 100%;
  }
}
